<h2 class="title">Your journal reports</h2>

<% reports.forEach((report, i) => { %>
  <div class="wrapper-shadow">
      <h4 class="war-subject"><%= report.subject %></h4>
      <p class="paragraph"><%= report.description %>  </p>
      <div class="war-links">
        <a class="link-crime-reports mobile-a-tag" href="<%= report.url %>" target="_blank"><%= report.url %> </a>
      </div>
      <div class="form-buttons">
        <form action="/note/edit/<%=report.id %> " method="get">
          <button class="add-btn-x" type="submit">Edit</button>
        </form>
        <form action="/note/<%= report.id %>?_method=DELETE" method="post">
          <button class="add-btn-x" type="submit">Delete</button>
        </form>
    </div>
  </div>
  <%  }) %> 