<div class="body-wrapper">
  <div class="newsfeed-wrapper">
  <div class="top-body-wrap">
    <div>
      <h1>Newsfeed</h1>
    </div>

    <div>
      <a class="document-btn" href="/note">Journal</a>
    </div>
  </div>

<%  %> 

    <% dataAll.forEach((x, i) => { %>
      
      <div class="tweet-wrapper-newsfeed">
        <h4 class="war-subject"><%= x.text %></h4>
        <!-- <p class="paragraph">tweet id: <%= x.id %>  </p>
        <p class="paragraph">author id: <%= x.author_id %>  </p> -->
        <div class="form-buttons">
          
          <% const sliced = x.id.slice(6, -2)%>
          <% if (tIds.includes(parseInt(sliced))) { %>
            
            <div class="added-btn-div">
              <div class="inside-form-details">
                <p class="space"> Author id: <%= x.author_id %> </p>
                <p> created at: <%= x.created_at %> </p>
              </div>
              <div> 
                <button class="added" disabled>Added</button>
              </div>
            </div>
            <% } else { %>
              <form action="/tweet" method="POST">
                <input hidden name="text" value="<%= x.text %> " type="text" />
                <input hidden name="tweetid" value="<%= sliced %> " type="text" />
                <input hidden name="userid" value="<%= user.id %> " type="text" />
                <input hidden name="author_id" value="<%= x.author_id %> " type="text" />
                <div class="inside-form-details">
                  <p class="space"> Author id: <%= x.author_id %> </p>
                  <p> created at: <%= x.created_at %> </p>
                </div>
                <button class="add-btn add" type="submit">Add to profile</button>
              </form>
              
            <% } %>  
            
        </div>
      </div>
    <%  }) %> 
  
</div>
</div>




 